.cooking-text-div {
  height: calc(100vh - 2vw - 2rem);
  width: 98vw;
  margin: 0vw 1vw;
  background-position: center;
  background-size: cover;
  background-image: url(./assets/images/cooking-board.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  animation-name: animatedBackground;
  animation-timing-function: ease-out;
  animation-duration: 1ms; /* Firefox requires this to apply the animation */
  animation-timeline: --squareTimeline;
  background-repeat: no-repeat;
  z-index: -1;
}

.cooking-text-div h1 {
  color: white;
  margin: 0;
  font-size: 3rem;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  letter-spacing: 0.2cap;
  font-style: normal;
}

.cooking-text-div p {
  color: white;
  margin-top: 2rem;
  font-size: 1.1rem;
  font-family: "DM Serif Display", serif;
  font-weight: 100;
  letter-spacing: 0.2cap;
  font-style: normal;
}
