.hero {
  display: flex;
  position: relative;
  z-index: 1;
  background-color: white;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 50px 10%;
}

.hero img {
  aspect-ratio: 1 / 1;
  height: 20vw;
  align-self: center;
  object-fit: contain;
  margin-right: 3vw;
}

.hero p {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
  font-size: larger;
}

@media screen and (max-width: 760px) {
  .hero {
    flex-direction: column;
  }
  .hero img {
    aspect-ratio: 1 / 1;
    width: 50vw;
    height: 50vw;
    max-width: 170px;
    max-height: 170px;
  }
  .hero p {
    font-size: large;
  }
}
