@keyframes animatedBackground {
  0% {
    background-size: 100%;
  }
  40% {
    background-size: 150%;
    background-position: 50% 70%;
    border-radius: 1rem;
  }
}

@keyframes animatedBackground2 {
  0% {
    background-size: 125%;
  }
  40% {
    background-size: 200%;
    background-position: 50% 70%;
    border-radius: 1rem;
  }
}

@keyframes animatedBackground3 {
  0% {
    background-size: 200%;
  }
  20% {
    background-size: 300%;
    background-position: 50% 70%;
    border-radius: 1rem;
  }
}

@keyframes animatedBackground4 {
  0% {
    background-size: cover;
  }
  20% {
    /* background-size: contain; */
    background-position: 50% 70%;
    border-radius: 1rem;
  }
}

.App {
  text-align: center;
}

body::-webkit-scrollbar {
  display: none;
}

.body-div::-webkit-scrollbar {
  display: none;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
}

.body-div {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-timeline: --squareTimeline y;
  /* Firefox supports the older "vertical" syntax */
  scroll-timeline: --squareTimeline vertical;
  scroll-behavior: smooth;
  background-image: url("./assets/images/cooking-pan.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.fullwidth {
  width: 100%;
  background-color: white;
}

.cooking-text-div {
  height: calc(100vh - 2vw - 2rem);
  width: 98vw;
  margin: 0vw 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./assets/images/cooking-board.jpg);
  z-index: -1;
}


.cooking-text-div p {
  color: white;
  margin-top: 2rem;
  font-size: vw;
  margin:2rem 10%;
  font-family: "DM Serif Display", serif;
  font-weight: 100;
  letter-spacing: 0.2cap;
  font-style: normal;
}

.cooking-text-div h1 {
  color: white;
  margin: 0 5%;
  font-size: 3rem;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  letter-spacing: 0.2cap;
  font-style: normal;
}

@media only screen and (min-width: 1055px) {
  .cooking-text-div {
    animation-name: animatedBackground;
    animation-timing-function: ease-out;
    animation-duration: 1ms;
    animation-timeline: --squareTimeline;
  }
}

@media only screen and (max-width: 1055px) and (min-width: 850px) {
  .cooking-text-div {
    animation-name: animatedBackground2;
    animation-timing-function: ease-out;
    animation-duration: 1ms;
    animation-timeline: --squareTimeline;
  }
}

@media only screen and (max-width: 850px) and (min-width: 540px) {
  .cooking-text-div {
    animation-name: animatedBackground3;
    animation-timing-function: ease-out;
    animation-duration: 1ms;
    animation-timeline: --squareTimeline;
  }
  .cooking-text-div h1 {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 540px){
  .cooking-text-div {
    animation-name: animatedBackground4;
    animation-timing-function: ease-out;
    animation-duration: 1ms;
    animation-timeline: --squareTimeline;
  }
  .cooking-text-div h1 {
    font-size: 2.5rem;
  }
}



@keyframes parallaxAnimation {
  0% {
    transform: translatey(0vh);
  }
  100% {
    transform: translatey(-30vh);
  }
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

.parallax-div {
  height: 50vh;
  /* box-shadow: 0px 0px 10px 10px inset white; */
}

.cooking-pan-img {
  /* height: 200vh; */
  width: calc(100vw);
  height: 100vh;
  object-fit: cover;
  top: 50vh;
  left: 0;
  z-index: -1;
  animation-name: parallaxAnimation;
  animation-timing-function: linear;
  animation-duration: 1ms;
  animation-timeline: --squareTimeline;
  position: sticky;
  /* box-shadow: 0px 0px 10px 10px inset white; */
}

.indian-thali-img {
  /* height: 200vh; */
  width: 100vh;
  height: 100vh;
  object-fit: cover;
  margin: 0px 50px;
  /* box-shadow: 0px 0px 10px 10px violet inset; */
  /* position: fixed; */
  top: 50vh;
  left: 0;
  z-index: -1;
  animation-name: rotateAnimation;
  animation-timing-function: linear;
  animation-duration: 1ms;
  animation-timeline: --squareTimeline;
}
