@keyframes animatedBackground {
  0% {
    background-size: 100%;
  }
  40% {
    background-size: 150%;
    background-position: 50% 70%;
    border-radius: 1rem;
  }
}

.App {
  text-align: center;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  height: 100vh;
  overflow-y: scroll;
  scroll-timeline: --squareTimeline y;
  /* Firefox supports the older "vertical" syntax */
  scroll-timeline: --squareTimeline vertical;
}

.cooking-text-div {
  height: calc(100vh - 2vw - 2rem);
  width: 98vw;
  margin: 0vw 1vw;
  background-position: center;
  background-size: cover;
  background-image: url(./assets/images/cooking-board.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  animation-name: animatedBackground;
  animation-timing-function: ease-out;
  animation-duration: 1ms; /* Firefox requires this to apply the animation */
  animation-timeline: --squareTimeline;
  background-repeat: no-repeat;
  z-index: -1;
}

.cooking-text-div h1 {
  color: white;
  margin: 0;
  font-size: 3rem;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  letter-spacing: 0.2cap;
  font-style: normal;
}

.cooking-text-div p {
  color: white;
  margin-top: 2rem;
  font-size: 1.1rem;
  font-family: "DM Serif Display", serif;
  font-weight: 100;
  letter-spacing: 0.2cap;
  font-style: normal;
}

@keyframes parallaxAnimation {
  0% {
    transform: translatey(0vh);
  }
  100% {
    transform: translatey(-30vh);
  }
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

.parallax-div {
  height: 70vh;
  /* box-shadow: 0px 0px 10px 10px inset white; */
}

.cooking-pan-img {
  /* height: 200vh; */
  width: calc(100vw);
  height: 100vh;
  object-fit: cover;
  top: 50vh;
  left: 0;
  z-index: -1;
  animation-name: parallaxAnimation;
  animation-timing-function: linear;
  animation-duration: 1ms;
  animation-timeline: --squareTimeline;
  position: sticky;
  /* box-shadow: 0px 0px 10px 10px inset white; */
}

.indian-thali-img {
  /* height: 200vh; */
  width: 100vh;
  height: 100vh;
  object-fit: cover;
  margin: 0px 50px;
  /* box-shadow: 0px 0px 10px 10px violet inset; */
  /* position: fixed; */
  top: 50vh;
  left: 0;
  z-index: -1;
  animation-name: rotateAnimation;
  animation-timing-function: linear;
  animation-duration: 1ms;
  animation-timeline: --squareTimeline;
}
